@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(245, 75%, 40%);

    /* Neutral */

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --desaturated-blue-hover: hsl(224, 23%, 40%);
    --dark-blue: hsl(223, 47%, 23%);

    font-family: 'Red Hat Display', sans-serif;
}